@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville:ital@0;1&display=swap');

:root {
    --max-width: 80rem;

    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.375rem;
    --fs-700: 2rem;

    --ff-primary: 'Libre Baskerville', serif;
    --ff-heading: 'Fjalla One', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
 * Typography
 */
body {
    font-size: 1rem;
    font-family: var(--ff-primary);
    font-weight: 300;
    line-height: 1.6;
}

h1 {
    font-size: var(--fs-700);
}

h2 {
    font-size: var(--fs-600);
}

h3 {
    font-size: var(--fs-500);
}

h4 {
    font-size: var(--fs-400);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-heading);
    font-weight: 700;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6, p {
    max-width: 70ch;
    margin-bottom: 1rem;
}

/* ----------------------------------------------
 * Layout
 * ----------------------------------------------
 */
main,
section {
    padding: 3rem 0;
}

.container {
    margin-inline: auto;
    width: min(90%, var(--max-width));
}

/* -----------------------------------------------------------------------------
 * Posts
 * -----------------------------------------------------------------------------
 */
.post-meta {
    font-style: italic;
}